{:paths ["src"]
 :deps {org.clojure/clojure    {:mvn/version "1.12.4"}
        org.pinkgorilla/ui-router {:mvn/version "0.3.46"}
        org.pinkgorilla/webly {:mvn/version "0.20.733"} ; build tool
        org.pinkgorilla/shadow-x {:mvn/version "0.3.22"} ; newer version (contained in webly)
        demo/demo {:local/root "../demo" :deps/manifest :deps}
        }
 :aliases
 {; BUILD (then exit)
  :build {:exec-fn webly.spa/webly-build
          :exec-args {:config ["demo-config.edn"]
                      :profile "npm-install"}}

  ; RUN SERVICES (keep running)
  :run {:exec-fn modular.system/start!
        :exec-args {:profile "watch"
                    :config ["demo-config.edn"]
                    :services "demo-services.edn"}}
  ;
  }}
