{:paths ["src"]
 :deps {demo/demo {:local/root "../demo" :deps/manifest :deps}
        org.pinkgorilla/webly {:mvn/version "0.9.720"}
        ;org.pinkgorilla/webly {:local/root "../../webly/webly" :deps/manifest :deps}
        }
 :aliases
 {; BUILD (then exit)
  :build {:exec-fn webly.spa/webly-build
          :exec-args {:config ["demo-config.edn"]
                      :profile "npm-install"}}

  ; RUN SERVICES (keep running)
  :run {:exec-fn modular.system/start!
        :exec-args {:profile "watch"
                    :config ["demo-config.edn"]
                    :services "demo-services.edn"}}
  ;
  }}
