{:deps {org.clojure/tools.logging {:mvn/version "1.2.4"}
        missionary/missionary          {:mvn/version "b.42"}
        ring/ring-core       {:mvn/version "1.13.0"}
        ring/ring-jetty-adapter {:mvn/version "1.13.0"}
        org.pinkgorilla/transit-ajax {:mvn/version "0.1.6"} ; encoding
        org.pinkgorilla/modular {:mvn/version "0.2.64"}  ; modular.writer
        org.pinkgorilla/extension {:mvn/version "0.0.14"} ; extension config
        }

 :aliases {; github ci  
           :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                          slipset/deps-deploy {:mvn/version "0.2.1"}}
                   :ns-default build}}}
