{:module/name :flowy
 ; build 
 :cljs/module :main
 :cljs/define :flowy
 :cljs/namespace [flowy.config]
 :cljs/ns-bindings {'flowy.config {'start-flowy-service flowy.config/start-flowy-service}}
 ; runtime
 :cljs-service {:config-fn flowy.config/config-flowy ; build flowy config
                :start-fn flowy.config/start-flowy-service} ; configure flowy
 
 :web/routes [["/flowy" {:handler flowy.ring-adapter/flowy-handler-ws
                         :middleware [ring.middleware.cookies/wrap-cookies
                                      muuntaja.middleware/wrap-format
                                      clj-service.browser-id/browser-id-middleware
                                      token.identity.local/identity-middleware
                                      webserver.middleware.ctx/ctx-middleware
                                      webserver.middleware.api/wrap-api-handler]
                         :services #{:token :clj :flowy}}]]}




