{:paths ["src"
         ".cljs"] ; compiled js files.
 :deps {demo/demo {:local/root "../demo" :deps/manifest :deps}
        reagent/reagent {:mvn/version "1.2.0"}
        thheller/shadow-cljs {:mvn/version "2.28.20"}
        metosin/reitit-ring {:mvn/version "0.7.2"}}
 :aliases
{:app {:main-opts ["-m" "demo.app"]}}
}