{:cache-root ".shadow-cljs",
 :verbose false,
 :lein false,
 ;:dev-http {8000 {:handler webly.app.app/ring-handler}},
 :http {:port 8001, :host "0.0.0.0"},
 :nrepl {:port 8002},
 :deps true ;; Enables deps.edn integration
 :builds {;; UIX BUILDS
          :app {:target :browser,
                :output-dir ".cljs/public",
                :asset-path "/r",
                :modules {:main {:entries [demo.app],
                                 :depends-on #{}
                                 :init-fn demo.app/start
                                 }}
                :compiler-options {:optimizations :simple,
                                   :output-feature-set :es8}}
          :app-prod {:target :browser,
                :output-dir ".cljs/public",
                :asset-path "/r",
                :modules {:main {:entries [demo.app],
                                 :depends-on #{}
                                 :init-fn demo.app/start}}
                :compiler-options {:optimizations :advanced
                                   :output-feature-set :es8}}
          
          ;; REAGENT BUILDS
          :app-reagent {:target :browser,
                        :output-dir ".cljs/public",
                        :asset-path "/r",
                        :modules {:main {:entries [demo.appreagent],
                                         :depends-on #{}
                                         :init-fn demo.appreagent/start}}
                        :compiler-options {:optimizations :simple,
                                           :output-feature-set :es8}}
          :app-reagent-prod {:target :browser,
                             :output-dir ".cljs/public",
                             :asset-path "/r",
                             :modules {:main {:entries [demo.appreagent],
                                              :depends-on #{}
                                              :init-fn demo.appreagent/start}}
                             :compiler-options {:optimizations :advanced
                                                :output-feature-set :es8}}
          


          
          
          }}

