{:name "demo"
 :lazy true
 :depends-on #{:ui-repl}
 :cljs-namespace [demo.reagent]
 :cljs-ns-bindings {'demo.reagent {'app demo.reagent/app}}
 ; runtime
 :cljs-routes {"" demo.reagent/app}

 :flowy [; one services is defined here, 
         ; the rest of the services are defined in the config.
         {:fun demo.fortune-cookie/get-cookie}]
 ;
 }