{:name "demo"
 :lazy true
 :depends-on #{}
 :cljs-namespace [demo.reagent
                  demo.wapp]
 :cljs-ns-bindings {'demo.reagent {'app demo.reagent/app}
                    'demo.wapp {'wrap-app demo.wapp/wrap-app
                                'routes demo.wapp/routes}}
 ; runtime
 :cljs-routes-reitit demo.wapp/routes

 :clj-service [; one services is defined here, 
               ; the rest of the services are defined in the config.
               {:fun demo.fortune-cookie/get-cookie}
               {:fun demo.fortune-cookie/get-cookie-bad}
               
               ; sp 
               {:fun demo.calculator/add}
               {:fun demo.calculator/subtract}
               ; ap
               {:fun demo.counter/counter-fn :mode :ap}
               {:fun demo.counter/counter-bad-fn :mode :ap}
               {:fun demo.counter/counter-ex-fn :mode :ap}]
 ;
 }